@let loading = postsDataService.detailLoading();

@if (loading) {
  <div class="d-flex justify-content-center">
    <mat-progress-spinner [diameter]="50" color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
}

@let post = postsDataService.postDetailVm();

@if (post && !loading) {
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="d-flex justify-content-between">
        <span>{{ post.title }}</span>
        <div>
          <button mat-icon-button matTooltip="{{ 'common.edit' | translate }}" (click)="openEditPostDialog(post)">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="{{ 'common.delete' | translate }}"
            (click)="openDeletePostDialog(post.id, post.title)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-title>
      <mat-card-subtitle>
        {{ post.author_name }} •
        <span class="text-muted fw-light">{{ post.created_at ? (post.created_at | date) : '???' }}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ post.body }}</p>
      <mat-divider class="mb-2"></mat-divider>

      <app-comments-list [activePostId]="post.id"></app-comments-list>
    </mat-card-content>
  </mat-card>
}
