@if (postsDataService.detailLoading()) {
  <mat-progress-spinner [diameter]="50" color="primary" mode="indeterminate"></mat-progress-spinner>
}

@let post = postsDataService.postDetailVm();

@if (post) {
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle>
        {{ post.author_name }} •
        <span class="text-muted fw-light">{{ post.created_at ? (post.created_at | date) : '???' }}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ post.body }}</p>
      <mat-divider class="mb-2"></mat-divider>
      <h6>{{ 'comments.title' | translate }}</h6>
      <app-comments-list [activePostId]="post.id"></app-comments-list>
    </mat-card-content>
  </mat-card>
}
