@if (!data.loading() && !data.postsVm().length) {
  <div class="p-4 text-gray-500">
    {{ 'posts.info.noItems' | translate }}
  </div>
}

<cdk-virtual-scroll-viewport itemSize="100" class="h-100" (scrolledIndexChange)="onScrolledIndexChange($event)">
  <div class="d-grid gap-3 column-gap-3 overflow-auto pe-3">
    @for (post of data.postsVm(); track post.id) {
      <mat-card
        class="example-card"
        [appearance]="data.selectedPostId() === post.id ? 'filled' : 'outlined'"
        [routerLink]="'/posts/' + post.id">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ post.title }} {{ post.id }} {{data.loading()}}</mat-card-title>
          <mat-card-subtitle>
            {{ post.author_name }} •
            <span class="text-muted fw-light">{{ post.created_at ? (post.created_at | date) : '???' }}</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content></mat-card-content>
      </mat-card>
    }

    @if (data.loading()) {
      <div class="d-flex justify-content-center">
        <mat-progress-spinner [diameter]="50" color="primary" mode="indeterminate"></mat-progress-spinner>
      </div>
    }
  </div>
</cdk-virtual-scroll-viewport>
