<h1 mat-dialog-title>{{ data.titleKey | translate }}</h1>
<mat-dialog-content>
  <form [formGroup]="addCommentForm" (ngSubmit)="submitHandler()" class="d-flex flex-column">
    <mat-form-field class="mb-3">
      <mat-label>{{ data.nameKey | translate }}</mat-label>
      <input matInput placeholder="{{ data.nameKey | translate }}" formControlName="name" required />

      <!-- input field error -->
      @if (nameControl.invalid) {
        <mat-error>
          <span [hidden]="!nameControl.errors?.['required']">
            {{ 'errors.thisFieldIsRequired' | translate }}
          </span>
          <span [hidden]="!nameControl.errors?.['maxlength']">
            {{ 'errors.maximumAllowedCharacters' | translate: { value: '255' } }}
          </span>
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'common.text' | translate }}</mat-label>
      <input matInput placeholder="{{ 'common.text' | translate }}" formControlName="body" required />

      <!-- input field error -->
      @if (bodyControl.invalid) {
        <mat-error>
          <span [hidden]="!bodyControl.errors?.['required']">
            {{ 'errors.thisFieldIsRequired' | translate }}
          </span>
        </mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close tabindex="-1">{{ 'common.cancel' | translate }}</button>
  <button
    type="submit"
    class="mat-spinner-button"
    matButton="filled"
    color="primary"
    [disabled]="addCommentForm.invalid"
    (click)="submitHandler()">
    {{ data.confirmKey | translate }}
  </button>
</mat-dialog-actions>
